%text-2xs {
  font-size: $font-size-2xs;
}

%text-xs {
  font-size: $font-size-xs;
}

%text-sm {
  font-size: $font-size-sm;
}

%text-md {
  font-size: $font-size-sm;
  @include md {
    font-size: $font-size-md;
  }
}

%text-lg {
  font-size: $font-size-md;
  @include md {
    font-size: $font-size-lg;
  }
}

%text-xl {
  font-size: $font-size-lg;
  @include md {
    font-size: $font-size-xl;
  }
}

%text-2xl {
  font-size: $font-size-xl;
  @include md {
    font-size: $font-size-2xl;
  }
}

%text-3xl {
  font-size: $font-size-2xl;
  @include md {
    font-size: $font-size-3xl;
  }
}
