$font-family-heading: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-body: Georgia, Times, "Times New Roman", serif;

$font-size-2xs: 12px;
$font-size-xs: 14px;
$font-size-sm: 16px;
$font-size-md: 26px;
$font-size-lg: 42px;
$font-size-xl: 68px;
$font-size-2xl: 110px;
$font-size-3xl: 176px;
